.input[type='text'] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.modal-label {
  font-size: 1.25rem;
  padding: 0 10px;
  cursor: pointer;
}

.modal-label input[type='radio'] {
  margin-left: 10px;
}
.modal-button {
  padding: 0.8rem;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  background-color: var(--primary-color);
  border: 0;
  color: var(--primary-text-color);
  cursor: pointer;
}

.modal-button:hover {
  background-color: var(--primary-color-hover);
}
