.unorderedList {
  list-style: none;
}

%lineContent {
  display: flex;
  column-gap: 5px;
  align-items: center;
  margin: 5px 0;
  width: fit-content;
}

.folderLineContent {
  @extend %lineContent;
  cursor: pointer;
}

.fileLineContent {
  @extend %lineContent;
  padding-left: 27px;
}

.listItem {
  text-align: start;
}
